<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyzaa.vspringblog.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.whyzaa.vspringblog.entity.SysComments">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="parent_id" property="parentId"/>
        <result column="uid" property="uid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, content, create_time, parent_id, uid
    </sql>

    <select id="findCommentByArticleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT *
    FROM sys_comments as c
    WHERE c.article_id = #{articleId}
    </select>
    <select id="findAllBigComments" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT *
    FROM sys_comments as c
    WHERE c.article_id = #{articleId}
    AND c.parent_id=0
    AND c.state = 0
    ORDER BY c.id DESC
    </select>

    <select id="findCommentsByParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT *
    FROM sys_comments as c
    WHERE c.parent_id=#{parentId}
    </select>
</mapper>
